A practical introduction to Pandas
===================

We have been asked to *analyze an otp dataset*, without much more information. This kind of scenario is more common than you might imagine!

## 1) Quickly examine the files in ~/Data/us_dot/otp. What do they contain, in both technical and functional terms? (Use any tool you want)

In [1]:
path_to_zips = '/home/dsc/Data/us_dot/otp/'

For this example, we are going to begin using the shell from within this notebook, with the ! notation:

A ! sign before a line tells the notebook to send that line straight away to the underlying OS. 

\* Note that we can substitute python variables into the shell command. We do that by surrounding the name of the variable with curly braces ({}). That's what we are going to do with the `path_to_files` variable

### Check what the files contain

In [2]:
# ls the folder
! ls {path_to_zips}

On_Time_On_Time_Performance_2015_1.zip	On_Time_On_Time_Performance_2015_5.zip
On_Time_On_Time_Performance_2015_2.zip	On_Time_On_Time_Performance_2015_6.zip
On_Time_On_Time_Performance_2015_3.zip	On_Time_On_Time_Performance_2015_7.zip
On_Time_On_Time_Performance_2015_4.zip	On_Time_On_Time_Performance_2015_8.zip

In [3]:
# check the contents of one of the files with a shell command
! unzip -v {path_to_zips}On_Time_On_Time_Performance_2015_1.zip

Archive:  /home/dsc/Data/us_dot/otp/On_Time_On_Time_Performance_2015_1.zip
 Length   Method    Size  Cmpr    Date    Time   CRC-32   Name
--------  ------  ------- ---- ---------- ----- --------  ----
211633432  Defl:N 23058756  89% 04-16-2015 20:02 731a9a16  On_Time_On_Time_Performance_2015_1.csv
   12054  Defl:N     2208  82% 04-16-2015 20:02 dd78b2d3  readme.html
--------          -------  ---                            -------
211645486         23060964  89%                            2 files

Oh, it has a readme! Always good to read it.

### Unzip the readme to the current directory

In [4]:
# use the shell #Pregunta: ¿Qué pasa cuando ya existe y te pregunta sobreescribir?
! unzip {path_to_zips}On_Time_On_Time_Performance_2015_1.zip readme.html

Archive:  /home/dsc/Data/us_dot/otp/On_Time_On_Time_Performance_2015_1.zip
replace readme.html? [y]es, [n]o, [A]ll, [N]one, [r]ename: ^C

The readme file is html. Luckily, we are working in an html environment. 

### Display the contents of `readme.html` within the notebook
(Hint: check out [IPython.display.IFrame](https://ipython.org/ipython-doc/3/api/generated/IPython.display.html))

In [4]:
from IPython.display import IFrame, display, HTML

display(IFrame('readme.html', '100%', '600px'))

That's some very good documentation!

### Summary: 

The files within the zip are " quoted csv's. They contain information on timeliness of departures in the US, at the departure level.

In [5]:
# have a look at the beginning of one of the files to see what they look like
! unzip -c {path_to_zips}On_Time_On_Time_Performance_2015_1.zip On_Time_On_Time_Performance_2015_1.csv | head -n 3

Archive:  /home/dsc/Data/us_dot/otp/On_Time_On_Time_Performance_2015_1.zip
  inflating: On_Time_On_Time_Performance_2015_1.csv
"Year","Quarter","Month","DayofMonth","DayOfWeek","FlightDate","UniqueCarrier","AirlineID","Carrier","TailNum","FlightNum","OriginAirportID","OriginAirportSeqID","OriginCityMarketID","Origin","OriginCityName","OriginState","OriginStateFips","OriginStateName","OriginWac","DestAirportID","DestAirportSeqID","DestCityMarketID","Dest","DestCityName","DestState","DestStateFips","DestStateName","DestWac","CRSDepTime","DepTime","DepDelay","DepDelayMinutes","DepDel15","DepartureDelayGroups","DepTimeBlk","TaxiOut","WheelsOff","WheelsOn","TaxiIn","CRSArrTime","ArrTime","ArrDelay","ArrDelayMinutes","ArrDel15","ArrivalDelayGroups","ArrTimeBlk","Cancelled","CancellationCode","Diverted","CRSElapsedTime","ActualElapsedTime","AirTime","Flights","Distance","DistanceGroup","CarrierDelay","WeatherDelay","NASDelay","SecurityDelay","LateAircraftDelay","FirstDepTime","TotalAddGTime","LongestAddGTime","DivAirportLandings","DivReachedDest","DivActualElapsedTime","DivArrDelay","DivDistance","Div1Airport","Div1AirportID","Div1AirportSeqID","Div1WheelsOn","Div1TotalGTime","Div1LongestGTime","Div1WheelsOff","Div1TailNum","Div2Airport","Div2AirportID","Div2AirportSeqID","Div2WheelsOn","Div2TotalGTime","Div2LongestGTime","Div2WheelsOff","Div2TailNum","Div3Airport","Div3AirportID","Div3AirportSeqID","Div3WheelsOn","Div3TotalGTime","Div3LongestGTime","Div3WheelsOff","Div3TailNum","Div4Airport","Div4AirportID","Div4AirportSeqID","Div4WheelsOn","Div4TotalGTime","Div4LongestGTime","Div4WheelsOff","Div4TailNum","Div5Airport","Div5AirportID","Div5AirportSeqID","Div5WheelsOn","Div5TotalGTime","Div5LongestGTime","Div5WheelsOff","Div5TailNum",

Pretty unreadable, so we go for a tool designed specifically for tabular data: **pandas**

### Load some of the data (one of the files) into memory as a pandas dataframe. What functions do you need to use?

Pro tip: there is no need to decompress the whole file. Check out [zipfile.ZipFile](https://docs.python.org/2/library/zipfile.html)

First, open a connection to one of the files

In [6]:
import pandas as pd

In [123]:
#! unzip {path_to_zips}On_Time_On_Time_Performance_2015_1.zip On_Time_On_Time_Performance_2015_1.csv

In [7]:
path = 'On_Time_On_Time_Performance_2015_1.csv'
data_file = open (path)
data_file.close()

Now we're ready to load the file into memory as a pandas dataframe. Remember to close the connections to the files!

In [8]:
# You'll have to play a bit with the options to display the file properly

data_file_df = pd.read_csv(path, sep = ',', index_col='FlightDate')

/home/dsc/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (77,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Let's start examining the data: show the beginning of the file. How many records does it contain?

In [9]:
# beginning 
data_file_df.head(5)

,Year,Quarter,Month,DayofMonth,DayOfWeek,UniqueCarrier,AirlineID,Carrier,TailNum,FlightNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
FlightDate,,,,,,,,,,,,,,,,,,,,,
2015-01-01,2015,1,1,1,4,AA,19805,AA,N787AA,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-02,2015,1,1,2,5,AA,19805,AA,N795AA,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-03,2015,1,1,3,6,AA,19805,AA,N788AA,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-04,2015,1,1,4,7,AA,19805,AA,N791AA,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-05,2015,1,1,5,1,AA,19805,AA,N783AA,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# how many records?
num_records = data_file_df.shape[0]
num_fields = data_file_df.shape[1]

print "The dataframe has %d records and %d fields" %(num_records, num_fields)

The dataframe has 469968 records and 109 fields

## Trimming the data

The table is quite wide, and it seems that there are many columns without much data. Which, exactly, are those? (let's consider empty a column that doesn't contain at least 1000 records, arbitrarily)

In [11]:
# Choose the columns
s = data_file_df.isnull().sum()
s = s[s >= 1000]
bad_columns = list(s.keys())[:-1]
len(bad_columns)

70

It seems that the "diverted" fields, after the first, are often empty. No big surprise, since not that many flights must be diverted more than once in a month. Let's drop those columns, since we are not that interested in those, at least for now.

In [12]:
# Drop the columns with under 1000 columns
for column in bad_columns:
    data_file_df.drop([column],inplace=True,axis=1)

In [13]:
data_file_df.shape

(469968, 39)

Now that we have eliminated some inconvenient data columns, let's have a look at the rest:

Let's look at how the location data is encoded.

### Select the columns that have 'Origin' in their name

Hint: we are going to use the `str` attribute of Series and Indexes

In [24]:
# Show all columns with Origin in their name
origin_columns = [name for name in data_file_df.columns.values if name.find('Origin') != -1]
origin_columns

['OriginAirportID',
 'OriginAirportSeqID',
 'OriginCityMarketID',
 'Origin',
 'OriginCityName',
 'OriginState',
 'OriginStateFips',
 'OriginStateName',
 'OriginWac']

Let's now have a look at these. We have been using the .head() method, but that always returns the same values, so it's not that good for getting a feel for the data. Let's start using a better one, that will give us a sample of the data: df.sample()

In [25]:
data_file_df.sample(5)

,Year,Quarter,Month,DayofMonth,DayOfWeek,UniqueCarrier,AirlineID,Carrier,FlightNum,OriginAirportID,...,CRSArrTime,ArrTimeBlk,Cancelled,Diverted,CRSElapsedTime,Flights,Distance,DistanceGroup,DivAirportLandings,Unnamed: 109
FlightDate,,,,,,,,,,,,,,,,,,,,,
2015-01-07,2015,1,1,7,3,B6,20409,B6,1572,11697,...,1230,1200-1259,0.0,0.0,164.0,1.0,1076.0,5,0,NaN
2015-01-22,2015,1,1,22,4,US,20355,US,1984,11057,...,940,0900-0959,0.0,0.0,110.0,1.0,529.0,3,0,NaN
2015-01-11,2015,1,1,11,7,DL,19790,DL,1714,13487,...,1313,1300-1359,0.0,0.0,203.0,1.0,1310.0,6,0,NaN
2015-01-11,2015,1,1,11,7,AA,19805,AA,1042,14679,...,548,0001-0559,0.0,0.0,273.0,1.0,2267.0,10,0,NaN
2015-01-04,2015,1,1,4,7,OO,20304,OO,5445,14893,...,652,0600-0659,0.0,0.0,52.0,1.0,86.0,1,0,NaN

So much redundant information!!!!! Let's drop a few of those fields. Remember, 90% of the time spent in Data Science is data cleaning...

### Do the same for the destination columns

### Now, discard all these columns with redundant information. 

The set of columns we want to discard is 

`df.columns[col_contains_dest] + df.columns[col_contains_origin] - columns_of_interest`

We'll also use the opportunity to drop Year, Month, Day and Quarter columns since that is information that is already contained in FlightDate. We'll keep the DayOfWeek, though.

OK, so we have cleaned up most of the date / location information,  and some of the extra information that was not really useful, in the process reducing the dataframe from 110 columns to 60. Let's look at the really interesting info: delays.

### Select all columns that contain 'Delay' in their column name

OK, we are going to center our attention in the DepDelay column, so we won't need the others. 

### Drop those too. 

We already know the drill, don't we?

We are not that interested in the 'Diverted' columns either, so let's drop those too

All of this is getting a little repetitive and boring, so let's just specify the columns we want:

In [ ]:
df = df[['FlightDate', 'DayOfWeek', 'Carrier', 'TailNum', 'FlightNum', 'Origin', 
         'OriginCityName', 'OriginStateName', 'Dest', 'DestCityName', 'DestStateName',
         'DepTime', 'DepDelay', 'AirTime', 'Distance']]
df.sample(5)

## Formatting columns and parsing dates and times

Hurray! we have almost cleaned our dataset. Soon we will begin to do some actual work with it.

Pandas interpreted the Deptime column as ints and the FlighDate column as strings. We want to combine them and parse them into a DateTime column, so that we can use them properly as datetimes.

First, 

### Define a function that will parse our int hours into a reasonable format ("HH:MM")

In [ ]:
# We'll need to take an int and return a string of the appropriate format

Now, we can use that function to build datetime strings that we will then pass to pd.to_datetime, with a format we will specify. Let's do that

Hint: Check out [pd.to_datetime](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)

### Overwrite the 'DepTime' column with its version in the proper (string) format

Hint: Before overwriting your column in the dataframe, make sure that everything works by assigning the modified column to a Series variable.

### Now, create a DepDateTime with the proper type using `pd.to_datetime`

### Inspect the types, see if everything is in order

### Transform the FlightNum column into a column of strings

Because filght numbers are actually names, not numbers: we won't do arithmetic on them.

## Examining the data

Finally clean! Let's start to do some preliminary work on the data.

### Find the biggest delays. 

How would you find the 5 maximum delays?

### What was the average delay for this month? Standard deviation and typical value?

Also: a quick look at the correlation between the numerical variables is extremely easy with pandas:

### A little taste of groupby

Very often, we will want to split our data according to a variable, then compute some statistics on the different groups. We will see this in depth next week, but I want to give you a little taste.

What is the plane that has the highest average delay? We'll first group by tail number (the *license plate* of a plane) and then calculate the relevant statistic for each group (group of *departures*)

Oh, but those numbers smell like these planes had only a few, very delayed, departures! how can we count the number of departures *and* calculate the average delay at the same time?

Awesome! now, let's look at the average delay of the planes with some departures (let's say, at least 15)

## Plotting

There are several ways in which we could go about this. This is where creativity starts. We'll do a couple very simple plots.

For example, do the delays have a relationship with the number of departures a plane does?

In [ ]:
# Do a scatter plot with matplotlib. Check the documentation

import matplotlib.pyplot as plt
matplotlib inline

 Another question: how do the delays stack over the course of the day?

In [ ]:
# Pro: Try to do a boxplot with matplotlib.

Hints for reading large files: 
* selecting columns:
    `pd.read_csv(usecols=[list_of_interesting_column_names])`
* bcolz
* specify column types